<header>
    <h1 class="f_item_title">課題研究</h1>
    <ul class="f_item_list">
        <li>HELP</li>
        <li>HOME</li>
        <li>NEXT</li>
    </ul>
</header>
<h1 class="test">トップページ</h1>
<%= link_to 'ログイン', login_path %>
<%= link_to '新規登録', new_user_path %>
<% @day = Date.today %>
<p><%= @day %></p>