<% if logged_in? %>
    <header>
        <p><%= @user.name %></p>
        <div id="point"><p><%= @user.profile.point %>pt</p></div>
    </header>
    <%= render 'logged_in' %>
<% else %>
    <%= render 'top' %>
<% end %>