<div id="result-modal" class="modal-area">
  <div class="modal-bg"></div>
  <div class="modal-wrapper">
    <div class="modal-content">
      <p><%= result %></p>
    </div>
    <div class="close-modal">×</div>
  </div>
</div>