<div id="gacha-result-modal" class="modal-area">
  <div class="modal-bg"></div>
  <div class="modal-wrapper gacha-result">
    <div class="modal-content">
      <div class="result-title">GACHA RESULT</div>
      <p class="result-text"><%= result %></p>
    </div>
    <div class="close-modal result-close">閉じる</div>
  </div>
</div>