<div id="mix-result-modal" class="modal-area">
  <div class="modal-bg"></div>
  <div class="modal-wrapper mix-result">
    <div class="modal-content">
      <div class="result-title">MIX RESULT</div>
      <p class="result-text"><%= result %></p>
    </div>
    <div class="close-moda result-close">閉じる</div>
  </div>
</div>