/*
 * require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  float: none;
}

html {
  font-size: 62.5%;  /* フォントサイズを10pxに設定(1rem = 10px) */
}

body {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-family: sans-saif;
}

img {
  max-width: 100%;
  height: auto;
}

.disabled {
  pointer-events: none;
  text-decoration: none;
}

.input-hidden {
  display: none;
}

@import "modal";