/*
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  float: none;
}

html {
  font-size: 62.5%;  /* フォントサイズを10pxに設定(1rem = 10px) */
}

body {
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  margin: 0;
  margin-top: 6rem; /* ヘッダーとの間隔 */
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.disabled {
  pointer-events: none;
  text-decoration: none;
  color: black;
}