body {
  margin-bottom: 7.5rem;  /* フッターとの間隔6rem + α */
}

.link-footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #6d95ce inset;
  background: linear-gradient(0deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
}

.link-footer {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.footer-item {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 6rem;
  margin: 0;
  border-left: 1.5px solid #696969;
  border-top: 1.5px solid #696969;
  border-bottom: 1.5px solid #696969;
  box-shadow: 0 -1.2px 3px rgba(0, 0, 0, .3);
}

.footer-item:last-child {
  border-right: 1.5px solid #696969;
}

.link-img {
  height: 100%;
  padding: .2rem .5rem .5rem .5rem;
  
}

.link-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #783c97;
}