@import "game_base";
@include gameTitle(70%);

.mix-area {
  display: flex;
  position: relative;
  width: 100%;
  height: 20rem;
  margin: 5rem auto;
  background-color: #92B0C7;
  border: 3px solid #FFEE4E;
  border-radius: 1rem;
  box-shadow: 0 1.2px 3px rgba(0, 0, 0, .3);
}

.mix-name {
  position: absolute;
  z-index: -1;
  top: -4.3rem;
  left: .5rem;
  padding: .5rem 1rem .8rem 1rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #696969;
  background-color: #E1B286;
}

.material {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  padding: 0 .7rem;
  border-right: .3rem dashed #000;
  border-radius: 1rem 0 0 1rem;
}

.mt-title-container {
  display: flex;
  align-items: center;
  height: 20%;
}

.mt-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.mt-title::before,
.mt-title::after {
  content: '';
  width: 10px;
  height: 3px;
  background-color: #0277b4;
}

.mt-title::before {
  margin-right: 15px;
}

.mt-title::after {
  margin-left: 15px;
}

.mt-img-container {
  display: flex;
  align-items: center;
  height: 60%;
}

.mt-img-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
}

.mt-img {
  position: relative;
  width: calc((100% - .7rem * 3) / 4);
  border: 2px solid #696969;
}

.mt-img-shade {
  filter: brightness(45%);
}

.mt-btn-container {
  display: flex;
  align-items: center;
  height: 20%;
}

.mt-btn {
  padding: .1rem 0;
  width: 8rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 10px;
  border-bottom: .3rem solid #1E6F14;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  color: #0F5F89;
  background-color: #DBE889;
}

.generate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  background: radial-gradient(circle, #56F6F6, #8BB594 90%);
  border-radius: 0 .8rem .8rem 0;
}

.gene-sugi {
  background: repeating-conic-gradient(from 3deg, rgba(255, 255, 255, 1) 10deg 20deg, rgba(255, 0, 0, 1) 20deg 30deg);
}

.gene-title-container {
  display: flex;
  align-items: center;
  height: 20%;
}

.gene-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #4121C0;
}

.gene-title::before,
.gene-title::after {
  content: '';
  width: 10px;
  height: 3px;
  background-color: #0277b4;
}

.gene-title::before {
  margin-right: 15px;
}

.gene-title::after {
  margin-left: 15px;
}

.gene-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.gene-img {
  width: 80%;
  height: auto;
  border: 2px solid #696969;
}

.gene-btn-container {
  display: flex;
  align-items: center;
  height: 20%;
}

.mix-btn {
  padding: .1rem 0;
  width: 8rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  border-bottom: .3rem solid #A96E1D;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  color: #544592;
  background-color: #FFA35B;
}

.disabled {
  border: none;
  box-shadow: none;
  color: #4C4A56;
  background: #A69385;
}

.mt-check-modal{
  padding: 1rem 1rem 0 1rem;
  border: solid 3.5px #00CED1;
  background-color: #00008B;
  color: #FFF;
}

.mt-content-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  color: #FFFF00;
}

.mt-content-title::before,
.mt-content-title::after {
  display: inline-block;
  content: '';
  border-radius: 100%;
  margin: 0 2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #00BFFF;
}

.mt-content-name {
  font-weight: bold;
  padding: 1rem 0 .5rem 0;
  border-top: dashed 2px #87CEFA;
}

.mt-content-name::before {
  display: inline-block;
  content: '';
  margin: 0 .5rem;
  width: 1rem;
  height: 1rem;
  background-color: #FFF;
}

.mt-content-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 1.3rem 2rem;
}

.mt-content-wrapper:last-child {
 border-bottom: dashed 2px #87CEFA; 
}

.mt-content-img {
  width: 20%;
}

.mt-content-info {
  margin-left: 2rem;
}

.have-zero {
  color: #F00;
}

.mt-check-close {
  width: 40%;
  text-align: center;
  padding: .5rem 0;
  margin: 1.5rem auto;
  border-radius: 15px;
  font-weight: bold;
  background-color: #7B68EE;
}

.mix-result {
  padding: 2rem;
  text-align: center;
  background: #ebe9bb;
  border: solid 5px #636ccf;
  
  .result-title {
    font-weight: bold;
    font-size: 2rem;
    color: #694ae3;
  }
    
  .result-text {
    margin: 3rem 0;
    font-weight: bold;
  }
  
  .result-close {
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 20rem;
    border-bottom: .3rem solid #728036;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    background-color: #aaee72;
  }
}