<header class="header top_header">
  <%= image_tag 'header-icon.png', class: 'logo-img' %>
  <h2 class="logo-text">コロピタ</h2>
  <%= link_to 'ログイン', login_path, class: 'login' %>
  <%= link_to '新規登録', new_user_path, class: 'new' %>
</header>